In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
claimants = pd.read_csv('claimants.csv')
claimants

      CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0           5         0     0.0       1.0       0.0    50.0  34.940
1           3         1     1.0       0.0       0.0    18.0   0.891
2          66         1     0.0       1.0       0.0     5.0   0.330
3          70         0     0.0       1.0       1.0    31.0   0.037
4          96         1     0.0       1.0       0.0    30.0   0.038
...       ...       ...     ...       ...       ...     ...     ...
1335    34100         1     0.0       1.0       0.0     NaN   0.576
1336    34110         0     1.0       1.0       0.0    46.0   3.705
1337    34113         1     1.0       1.0       0.0    39.0   0.099
1338    34145         0     1.0       0.0       0.0     8.0   3.177
1339    34153         1     1.0       1.0       0.0    30.0   0.688

[1340 rows x 7 columns]

In [3]:
claimants.isnull().sum()

CASENUM       0
ATTORNEY      0
CLMSEX       12
CLMINSUR     41
SEATBELT     48
CLMAGE      189
LOSS          0
dtype: int64

In [5]:
claimants.shape

(1340, 7)

In [6]:
claimants.dropna().shape

(1096, 7)

In [7]:
claimants.head()

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        5         0     0.0       1.0       0.0    50.0  34.940
1        3         1     1.0       0.0       0.0    18.0   0.891
2       66         1     0.0       1.0       0.0     5.0   0.330
3       70         0     0.0       1.0       1.0    31.0   0.037
4       96         1     0.0       1.0       0.0    30.0   0.038

In [9]:
claimants.drop(['CASENUM'], axis=1, inplace=True)
claimants.head()

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         0     0.0       1.0       0.0    50.0  34.940
1         1     1.0       0.0       0.0    18.0   0.891
2         1     0.0       1.0       0.0     5.0   0.330
3         0     0.0       1.0       1.0    31.0   0.037
4         1     0.0       1.0       0.0    30.0   0.038

In [12]:
print(claimants.CLMSEX.mode())
print(claimants.SEATBELT.mode())
print(claimants.CLMAGE.mean())
print(claimants.CLMINSUR.mode())

0    1.0
dtype: float64
0    0.0
dtype: float64
28.414422241529106
0    1.0
dtype: float64

In [35]:
claimants['CLMSEX'].fillna(1.0, inplace=True)
claimants.SEATBELT.fillna(0.0, inplace=True)
claimants.CLMAGE.fillna(claimants.CLMAGE.mean(), inplace=True)
claimants.CLMINSUR.fillna(1.0, inplace=True)

In [36]:
claimants.head(10)

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT     CLMAGE    LOSS
0         0     0.0       1.0       0.0  50.000000  34.940
1         1     1.0       0.0       0.0  18.000000   0.891
2         1     0.0       1.0       0.0   5.000000   0.330
3         0     0.0       1.0       1.0  31.000000   0.037
4         1     0.0       1.0       0.0  30.000000   0.038
5         0     1.0       1.0       0.0  35.000000   0.309
6         0     0.0       1.0       0.0   9.000000   3.538
7         0     1.0       1.0       0.0  34.000000   4.881
8         1     1.0       1.0       0.0  60.000000   0.874
9         1     0.0       1.0       0.0  28.414422   0.350

In [37]:
claimants.isnull().sum()

ATTORNEY    0
CLMSEX      0
CLMINSUR    0
SEATBELT    0
CLMAGE      0
LOSS        0
dtype: int64

In [51]:
from sklearn.linear_model import LogisticRegression

In [39]:
X = claimants.iloc[:,1:]
Y = claimants.iloc[:,0]

In [49]:
print(X.columns)
print(Y.head(1))

Index(['CLMSEX', 'CLMINSUR', 'SEATBELT', 'CLMAGE', 'LOSS'], dtype='object')
0    0
Name: ATTORNEY, dtype: int64

In [50]:
classifier = LogisticRegression()
classifier.fit(X,Y)

LogisticRegression()

In [52]:
classifier.predict_proba(X)

array([[9.99974052e-01, 2.59482533e-05],
       [4.95423433e-01, 5.04576567e-01],
       [4.25079851e-01, 5.74920149e-01],
       ...,
       [2.85379971e-01, 7.14620029e-01],
       [6.86705291e-01, 3.13294709e-01],
       [3.38812185e-01, 6.61187815e-01]])

In [53]:
y_pred = classifier.predict(X)
claimants.insert(loc=0, column='Predicted', value=y_pred)

In [54]:
claimants.head()

   Predicted  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0          0         0     0.0       1.0       0.0    50.0  34.940
1          1         1     1.0       0.0       0.0    18.0   0.891
2          1         1     0.0       1.0       0.0     5.0   0.330
3          1         0     0.0       1.0       1.0    31.0   0.037
4          1         1     0.0       1.0       0.0    30.0   0.038

In [55]:
y_prob = pd.DataFrame(classifier.predict_proba(X))
claimants_new = pd.concat([claimants,y_prob], axis=1)
claimants_new

,Predicted,ATTORNEY,CLMSEX,CLMINSUR,SEATBELT,CLMAGE,LOSS,0,1
0,0,0,0.0,1.0,0.0,50.000000,34.940,0.999974,0.000026
1,1,1,1.0,0.0,0.0,18.000000,0.891,0.495423,0.504577
2,1,1,0.0,1.0,0.0,5.000000,0.330,0.425080,0.574920
3,1,0,0.0,1.0,1.0,31.000000,0.037,0.489650,0.510350
4,1,1,0.0,1.0,0.0,30.000000,0.038,0.363268,0.636732
...,...,...,...,...,...,...,...,...,...
1335,1,1,0.0,1.0,0.0,28.414422,0.576,0.406783,0.593217
1336,0,0,1.0,1.0,0.0,46.000000,3.705,0.549448,0.450552
1337,1,1,1.0,1.0,0.0,39.000000,0.099,0.285380,0.714620
1338,0,0,1.0,0.0,0.0,8.000000,3.177,0.686705,0.313295
1339,1,1,1.0,1.0,0.0,30.000000,0.688,0.338812,0.661188

In [57]:
from sklearn.metrics import confusion_matrix

In [58]:
matrix = confusion_matrix(Y, y_pred)
print(matrix)

[[435 250]
 [147 508]]

In [60]:
accuracy = sum(y_pred == Y)/claimants.shape[0]
accuracy

0.7037313432835821